# Don't ignore docker-compose.yml - it's needed for deployment
# *docker-compose.yml
.env
*.env
!.env.example
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

*.pdf
*.txt
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx

*.faiss
*.faiss.index
*.pkl
backend/src/vectorstores/user_1/index.faiss
backend/src/vectorstores/user_1/index.pkl
