
OPENAI_API_KEY=

GOOGLE_API_KEY=""

GROQ_API_KEY=your-groq-api-key-here

PORT=8000

CORS_ORIGINS=http://localhost:3000,http://localhost:8086,http://127.0.0.1:3000,http://127.0.0.1:8086
OPENAI_MODEL=gpt-4o

DATABASE_URL=postgresql://sazib:1234@localhost:5432/mcpagent
FIRECRAWL_API_KEY=your-firecrawl-api-key-here
